<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" type="image/png" href="{{url_for('static',filename='favicon-16x16.png')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='graphics.css') }}">
</head>
<body>
<div style="text-align:right" class="thick">
    <a href="{{url_for('index')}}" target="_blank">Home</a>&nbsp&nbsp
    <a href="{{url_for('about')}}" target="_blank">About</a>&nbsp&nbsp
    <a href="{{url_for('contact')}}" target="_blank">Contact</a>&nbsp&nbsp
    <a href="https://www.linkedin.com/in/empirical-formular/" target="_blank">LinkedIn</a>&nbsp&nbsp&nbsp&nbsp
</div>
<h2 style="text-align:left">$whoami</h2>
<p style="font-family: Verdana,sans-serif"><strong>My name is Emperor, I am a Sophormore Network
    Technology Student at Carleton University and a Computer
    Engineering Student at Algonquin College. I Love learning and experimenting with networking concepts taught in
    school.
    I also love computer programming and the magic that it brings to fruition!</strong></p>

<h2 style="text-align:left">Education</h2>
<ol class="thick1">
    <li>High School Diploma, Ridgemont High School - {Ottawa,ON}</li>
    <li>Bachelor's of Network Technology, Carleton University - {Ottawa,ON}</li>
    <li>Advanced Diploma in Computer Engineering Technology, Algonquin College - {Ottawa,ON}</li>
</ol>


<h2 style="text-align:left">Experience</h2>
<ol class="thick1">
    <li>IT Helpdesk Administrator, Ottawa Community Housing - {May 2022 to December 2022}</li>
    <li>IT Support Student, Ridgemont High School - {2018-2020}</li>
</ol>
<h2 style="text-align:left">Passions</h2>
<ol class="thick1">
    <li>Computer Programming</li>
    <li>Playing Tennis</li>
    <li>Reading+Studying</li>
    <li>Watching Playoff games {NBA,NFL,NHL}</li>
</ol>

</body>
</html>