<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact </title>
    <link rel="icon" type="image/png" href="{{url_for('static',filename='favicon-16x16.png')}}">

</head>
<body style="background-color:#add8e6">
<style>
    a:link { text-decoration: none; color: blue }
    a:visited { text-decoration: none; color: blue }
    a:hover { text-decoration: underline;color:white }
    a:active { text-decoration: none; color blue}
    a{font-color:darkblue;}






</style>
<div style="text-align:right" class="thick">
    <a href="{{url_for('index')}}" target="_blank">Home</a>&nbsp&nbsp
    <a href="{{url_for('about')}}" target="_blank">About</a>&nbsp&nbsp
    <a href="{{url_for('contact')}}" target="_blank">Contact</a>&nbsp&nbsp
    <a href="https://www.linkedin.com/in/empirical-formular/" target="_blank">LinkedIn</a>&nbsp&nbsp&nbsp&nbsp
</div>
<div>
    <h3 style="text-align:center">Contact Information</h3>
    <hr>
    <ul>
        <p><strong>Emails</strong></p>
        <li><a href="williamsempps@gmail.com">williamsempps@gmail.com</a></li>
        <li></li>
    </ul>
    <br>
    <ul>
        <p><strong>Mobile</strong></p>
        <li>(613) 466-1215</li>
    </ul>
</div>
</body>
</html>